version: "3"
services:
  db:
    image: postgres:latest
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=multitenant
      - POSTGRES_USER=multitenant
      - POSTGRES_PASSWORD=multitenant
    volumes:
      - ./data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
  discovery:
    image: discovery-service:0.0.1-SNAPSHOT
    container_name: discovery
    ports:
      - "8761:8761"
  tenant:
    image: tenant-service:0.0.1-SNAPSHOT
    container_name: tenant
    ports:
      - "7070:7070"
    environment:
      - redis.host=redis
      - redis.port=6379
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
    depends_on:
      - redis
      - discovery
  laboratory:
    image: laboratory-service:1.0
    container_name: laboratory
    ports:
      - "8080:8080"
    depends_on:
      - db
      - discovery
    environment:
      - server.port=8080
      - spring.sql.init.mode=always
      - spring.datasource.url=jdbc:postgresql://db:5432/multitenant
      - spring.datasource.username=multitenant
      - spring.datasource.password=multitenant
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
  laboratory2:
    image: laboratory-service:1.0
    container_name: laboratory2
    ports:
      - "8081:8081"
    depends_on:
      - db
      - discovery
    environment:
      - server.port=8081
      - spring.sql.init.mode=never
      - spring.datasource.url=jdbc:postgresql://db:5432/multitenant
      - spring.datasource.username=multitenant
      - spring.datasource.password=multitenant
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
  laboratory3:
    image: laboratory-service:1.0
    container_name: laboratory3
    ports:
      - "8082:8082"
    depends_on:
      - db
      - discovery
    environment:
      - server.port=8082
      - spring.sql.init.mode=never
      - spring.datasource.url=jdbc:postgresql://db:5432/multitenant
      - spring.datasource.username=multitenant
      - spring.datasource.password=multitenant
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
  gateway:
    image: gateway-service:0.0.1-SNAPSHOT
    container_name: gateway
    ports:
      - "9090:9090"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
    depends_on:
      - discovery