apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway-app
  ports:
  - protocol: "TCP"
    port: 8884
    targetPort: 9090
  type: LoadBalancer

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-app
  annotations:
    "sidecar.jaegertracing.io/inject": "true"
spec:
  selector:
    matchLabels:
      app: gateway-app
  replicas: 2
  template:
    metadata:
      labels:
        app: gateway-app
    spec:
      containers:
      - name: gateway-app
        image: gateway-service:0.0.9-SNAPSHOT
        env:
          - name: server.port
            value: "9090"
          - name: eureka.client.enabled
            value: "false"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9090